*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
PlanarGraphGenerator/.project
PlanarGraphGenerator/.metadata
PlanarGraphGenerator/bin/**
PlanarGraphGenerator/.classpath
PlanarGraphGenerator/.settings/
PlanarGraphGenerator/.loadpath

# Vim #
*.swp
